body{
    background-image: url("assets/Windows\ Background.webp");
      align-items: center;
      background-repeat: no-repeat;
        background-size: cover; 

}

.img {
    width: 125px;
    height: 100px;
}


.navbar {
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 144px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  color: rgb(134, 173, 212);
}

.nav-links {
  display: flex;
  justify-content: flex-end;  
  gap: 20px;
  width: 100%;                
  align-items: center;
  font-size: 30px;
}
.nav-links a {
    color: rgb(65, 3, 52);
    text-decoration: none;
    margin-left: 15px;
    text-align: center;
  }
  
  .nav-links a:hover {
    color: #b72b13;
  }
  
  .nav-links a.active {
    color: #de310e;       
    font-weight: bold;    
  }
